name: CI
env:
  REFRESH_TOKEN: ${{ secrets.REFRESH_TOKEN }}
  SECRET: ${{ secrets.SECRET }}
  TWITCH_ID: ${{ secrets.TWITCH_ID }}
  TWITCH_USER_NAME: ${{ secrets.TWITCH_USER_NAME }}
  USER_ID: ${{ secrets.USER_ID }}
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [12.x]
    steps:
      - uses: actions/checkout@v1
      - uses: actions/cache@v1
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-modules
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: install modules
        run: |
          npm install
          npm run build
          npm test --verbose
      - name: Release
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          GH_TOKEN: ${{secrets.GH_TOKEN}}
        run: npx semantic-release
